<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <title>Bank Accounts - Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="static/css/jumbotron-narrow.css" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/custom.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/custom.css">
</head>

<body ng-controller="HomeCtrl">
  <nav class="navbar navbar-default" style="margin-top: -20px; background-color: #3a3f46;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color: white">ABC Bank</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" style="color: white">Admin <span class="sr-only">(current)</span></a></li>
          <li><a href="#" style="color: white">Normal</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-click="logOut()">
          <li><a href="#" style="color: white">Log out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="header clearfix">
      <h1 class="text-muted" style="margin-left: 37%; font-weight: 600" id="auth">Account Manager</h1>
    </div>
    <div class="row">
     <form>
      <div class= row>

       <div class="col-md-4">
        <div class="form-group" style="float:right;">
         <label for="searchField">Select a field:</label>
         <select class="form-control" id="searchField">
          <option>Name</option>
          <option>ID Number</option>
          <option>Gender</option>
          <option>Birthday</option>
          <option>Phone</option>
          <option>Address</option>
          <option>Mail</option>
          <option>Username</option>
          <option>Password</option>
          <option>Account Number</option>
          <option>Card Number</option>
          <option>Account Balance</option>
          <option>Role</option>
          <option>Member Since</option>
        </select>
        <br>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
       <label for="pwd">Field value:</label>
       <input type="text" class="form-control" id="fieldValue" placeholder="Write your key word here then click search">
     </div>
   </div>
   <div class="col-md-4" id="adminSearchFrame" ng-click="adminSearch()" style="margin-left: -4%; margin-top: 24px;">
    <button type="button" class="btn btn-info" id="adminSearch" style="background-color: #3a3f46; border-color: #3a3f46">
     <span class="glyphicon glyphicon-search" ></span> Search
   </button>
 </div>
</div>
<div class=row>
</div>
</form>
</div>
<div class="row" style="margin-left: 401px; margin-top: -13px; padding-bottom: 15px;">
  <div class="form-group">
    <div class="col-sm-8" style="width: 33%;">
      <label class="" for="txtBirthDay">Birthday</label>
      <div class="inputGroupContainer">
        <div class="input-group date" id="datetimepicker_searchBirthday_js">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input type='text' class="form-control" id="txtsearchBirthDay" placeholder="Select birthday then click search "/>

        </div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-top: 25px;" ng-click="adminSearchBirth()">
      <button type="button" class="btn btn-info" id="adminSearchBirth" style="background-color: #3a3f46; border-color: #3a3f46">
       <span class="glyphicon glyphicon-search"></span> Search
     </button>
   </div>
 </div>
</div>
<hr>
<form class="form-inline">
  <div class="form-group" style="padding-bottom: 13px;margin-left: 33px; ">
   <label >Search</label>
   <input type="text" ng-model="search" class="form-control" placeholder="You can search anything here!" style="margin-left: 4px;width: 100%">
 </div>
</form>
<nav>
  <ul class="nav nav-pills pull-right" id="btnAddAccount" style="margin-top: -55px; margin-right: 33px;">
    <li role="presentation" class="active"><a ng-click="showAddPopUp()" style="cursor:pointer;background-color: #3a3f46">Add an account</a></li>
  </ul>
</nav>
<div class="bs-example" data-example-id="panel-without-body-with-table" style="width: 95%;
margin-left: 34px;">
<div class="panel panel-default">
  <div class=".card-header"></div>
  <div class="table-responsive">
   <table id="myDataTable" class="table table-striped table-hover table-bordered" style="width:100%">
    <thead>
     <tr>
      <th ng-click="sort('idNumber')">Id number
       <span class="glyphicon sort-icon" ng-show="sortKey=='idNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('name')">Full Name
       <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('gender')">Gender
       <span class="glyphicon sort-icon" ng-show="sortKey=='gender'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('birthday')">Birthday
       <span class="glyphicon sort-icon" ng-show="sortKey=='birthday'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('address')">Address
       <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('phoneNumber')">Phone Number
       <span class="glyphicon sort-icon" ng-show="sortKey=='phoneNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('accountNumber')">Account Number
       <span class="glyphicon sort-icon" ng-show="sortKey=='accountNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('cardNumber')" style="display: none">Card Number
       <span class="glyphicon sort-icon" ng-show="sortKey=='cardNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('accountBalance')" style="display: none">Account Balance
       <span class="glyphicon sort-icon" ng-show="sortKey=='accountBalance'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('mail')" style="display: none">Mail
       <span class="glyphicon sort-icon" ng-show="sortKey=='mail'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('username')" style="display: none">Username
       <span class="glyphicon sort-icon" ng-show="sortKey=='username'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('password')" style="display: none">Password
       <span class="glyphicon sort-icon" ng-show="sortKey=='password'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('role')" style="display: none">Role
       <span class="glyphicon sort-icon" ng-show="sortKey=='role'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th ng-click="sort('memberSince')" style="display: none">Member Since
       <span class="glyphicon sort-icon" ng-show="sortKey=='memberSince'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
     </th>
     <th>View Detais</th>
     <th>Delete</th>
   </tr>
 </thead>
 <tbody>
   <tr dir-paginate="account in accounts|orderBy:sortKey:reverse|filter:search|itemsPerPage: 15 track by $index">
    <td>{{'{{account.idNumber}}'}}</td>
    <td>{{'{{account.name}}'}}</td>
    <td>{{'{{account.gender}}'}}</td>
    <td>{{'{{account.birthday}}'}}</td>
    <td>{{'{{account.address}}'}}</td>
    <td>{{'{{account.phoneNumber}}'}}</td>
    <td>{{'{{account.accountNumber}}'}}</td>
    <td style="display: none">{{'{{account.cardNumber}}'}}</td>
    <td style="display: none">{{'{{account.accountBalance-0|number}}'}}</td>
    <td style="display: none">{{'{{account.mail}}'}}</td>
    <td style="display: none">{{'{{account.username}}'}}</td>
    <td style="display: none">{{'{{account.password}}'}}</td>
    <td style="display: none">{{'{{account.role}}'}}</td>
    <td style="display: none">{{'{{account.memberSince}}'}}</td>
    <td><span style="cursor:pointer;color:#3a3f46; font-size: 166%; margin-left: 32%" ng-click="editAccount(account.accountId)" class="glyphicon glyphicon-new-window" aria-hidden="true" id="btnViewDetails"></span></td>
    <td><span style="cursor:pointer;color:#ff0c0cf2;font-size: 166%; margin-left: 32%" ng-click="confirmDelete(account.accountId)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
  </tr>
</tbody>
<tfoot>
 <tr>
  <th ng-click="sort('idNumber')">Id number
   <span class="glyphicon sort-icon" ng-show="sortKey=='idNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('name')">Full Name
   <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('gender')">Gender
   <span class="glyphicon sort-icon" ng-show="sortKey=='gender'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('birthday')">Birthday
   <span class="glyphicon sort-icon" ng-show="sortKey=='birthday'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('address')">Address
   <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('phoneNumber')">Phone Number
   <span class="glyphicon sort-icon" ng-show="sortKey=='phoneNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('accountNumber')">Account Number
   <span class="glyphicon sort-icon" ng-show="sortKey=='accountNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('cardNumber')" style="display: none">Card Number
   <span class="glyphicon sort-icon" ng-show="sortKey=='cardNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('accountBalance')" style="display: none">Account Balance
   <span class="glyphicon sort-icon" ng-show="sortKey=='accountBalance'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('mail')" style="display: none">Mail
   <span class="glyphicon sort-icon" ng-show="sortKey=='mail'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('username')" style="display: none">Username
   <span class="glyphicon sort-icon" ng-show="sortKey=='username'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('password')" style="display: none">Password
   <span class="glyphicon sort-icon" ng-show="sortKey=='password'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('role')" style="display: none">Role
   <span class="glyphicon sort-icon" ng-show="sortKey=='role'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th ng-click="sort('memberSince')" style="display: none">Member Since
   <span class="glyphicon sort-icon" ng-show="sortKey=='memberSince'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
 </th>
 <th>View Detais</th>
 <th>Delete</th>
</tr>
</tfoot>
</table>
</div>
</div>
<dir-pagination-controls max-size="700" direction-links="true" boundary-links="true" style="float: right;    margin-top: -30px;"></dir-pagination-controls>
</div>
</div>

<div class="modal fade" id="addPopUp" tabindex="-1" role="diae" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width: 120%; margin-left: -10%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Account Details</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td colspan="1">
                <form class="well form-horizontal">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtName">Full Name</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input id="fullName" name="fullName" placeholder="Full Name" class="form-control inputCustom" required="true" value="" type="text" ng-model="info.name" id="txtName">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtIDNumber">ID Number</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-address-card"></i></span>
                          <input placeholder="ID number" class="form-control inputCustom" required="true" type="text" ng-model="info.idNumber" id="txtIDNumber">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtGender">Gender</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group">
                          <span class="input-group-addon" style="max-width: 100%;"><i class="fa fa-venus-mars"></i></span>
                          <select class="selectpicker form-control" id="gender" name="selectedGender">
                            <option id="male">Male</option>
                            <option id="female">Female</option>
                            <option id="unidentified">Unindentified</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtBirthDay">Birthday</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group date" id="datetimepicker_birthday_js">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                          <input type='text' class="form-control inputCustom" ng-model="info.birthday" id="txtBirthDay" placeholder="Birthday" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtPhoneNumber">Phone</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-phone"></i></span>
                          <input placeholder="Phone number" class="form-control inputCustom" required="true" type="text" ng-model="info.phoneNumber" id="txtPhoneNumber">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" or="txtAddress">Address</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                          <input placeholder="State/Province/Region" class="form-control inputCustom" required="true" type="text" ng-model="info.address" id="txtAddress">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtMail">Mail</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                          <input placeholder="Mail address" class="form-control inputCustom" required="true" type="text" ng-model="info.mail" id="txtMail">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </td>
              <td colspan="1">
                <form class="well form-horizontal">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtUsername">Username</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                          <input placeholder="Username" class="form-control inputCustom" required="true" type="text" ng-model="info.username" id="txtUsername">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtPassword">Password</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"></i></span>
                          <input ng-model="info.password" id="txtPassword" placeholder="Password" class="form-control inputCustom" required="true" type="password">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open" style="cursor:pointer" id="passwordEye"></i></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtAccountNumber">Account Number</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                          <input placeholder="Account number" class="form-control inputCustom" required="true" type="text" ng-model="info.accountNumber" id="txtAccountNumber">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtCardNumber">Card Number</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                          <input placeholder="Card number" class="form-control inputCustom" required="true" type="text" ng-model="info.cardNumber" id="txtCardNumber">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtAccountBalance">Account Balance</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                          <input placeholder="Account balance" class="form-control inputCustom" required="true" type="text" ng-model="info.accountBalance" id="txtAccountBalance">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtRole">Role</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-secret"></i></span>
                          <input placeholder="Role" class="form-control inputCustom" required="true" type="text" ng-model="info.role" id="txtRole">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="txtMemberSince">Member Since</label>
                      <div class="col-md-8 inputGroupContainer">
                        <div class="input-group date" id="datetimepicker_memberSince__js">
                          <span class="input-group-addon"><span class="fa fa-calendar"></span>
                        </span>
                        <input type='text' class="form-control inputCustom" ng-model="info.memberSince" id="txtMemberSince" placeholder="Account creating time" />

                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-danger" style="display: none" id="message_fail">
       <strong>Invalid data.</strong> Check again!.
     </div>
     <div class="alert alert-success" id="message_success" style="display: none">
       <strong>Valid.</strong>Go on!
     </div>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose">Close</button>
    <button type="button" class="btn btn-primary" id="btnEdit" style="background-color: #3a3f46;border-color: #3a3f46">Edit</button>
    <button type="button" class="btn btn-primary" id="btnUpdate" ng-click="updateAccount()" style="background-color: #3a3f46">Update</button>
    <button type="button" class="btn btn-primary" id="btnSave" ng-click="addAccount()" style="display: none; background-color: #3a3f46; border-color: #3a3f46">Save</button>
  </div>
</div>
</div> 
</div>
<div id="deleteConfirm" class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
   <div class="modal-content">
    <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
     <h4 class="modal-title" id="myLargeModalLabel">You are about to delete this entry. Do you want to proceed ?</h4> </div>

     <div class="modal-footer">
       <button type="button" class="btn .btn-secondary" data-dismiss="modal">Close</button>
       <button type="button" ng-click="deleteAccount()" class="btn btn-primary" style="background-color: #3a3f46;border-color: #3a3f46">Delete</button>
     </div>
   </div>
 </div>
</div>
<!-- Footer -->
<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Downloads</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Company Information</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help desk</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-3 info">
        <h5>Information</h5>
        <p> I'M Bino-NTK. </p>
      </div>
    </div>
  </div>
  <div class="second-bar">
   <div class="container">
    <h2 class="logo"><a href="#"> ABC BANK </a></h2>
    <div class="social-icons">
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    </div>
  </div>
</div>
</footer>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="static/js/moment.js"></script>
  <script type="text/javascript" src="static/js/bootstrap-datetimepicker.min.js"></script>
  <script src="static/js/angular.js"></script>
  <script type="text/javascript" src="static/js/controller.js"></script>
  <script type="text/javascript" src="static/js/custom.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/dirPagination.js"></script>
</body>
</html>
