<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        #login,#signUp{
                margin-left: 33%;
                margin-top: 7%;
                border-style: solid;
                border-color: #3a3f46;
                border-radius: 26px;
                padding: 7% 1% 10% 1%;
        }
    </style>
</head>

<body>
    {% block body %}{% endblock %}
    <!-- <script src="{{ url_for('static', filename='js/jquery.js') }}"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>