<!DOCTYPE html>
<html>

<head>
    <title>Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style type="text/css">
        #btnEdit{
            /*display: inline-block;
            vertical-align: top;*/
            padding-left: 2%;
            padding-right: 2%; 
        }
        #btnUpdate{
            display: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Modal Example</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content" style="width: 120%; margin-left: -10%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Account Details</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td colspan="1">
                                        <form class="well form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtName">Full Name</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                            <input id="fullName" name="fullName" placeholder="Full Name" class="form-control" required="true" value="" type="text" ng-model="info.name" id="txtName">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtIDNumber">ID Number</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-address-card"></i></span>
                                                            <input placeholder="ID number" class="form-control" required="true" type="text" ng-model="info.idNumber" id="txtIDNumber">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtGender">Gender</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                                            <select class="selectpicker form-control" ng-model="info.gender" id="txtGender">
                                                                <option>Male</option>
                                                                <option>Female</option>
                                                                <option>Unindentified</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtBirthDay">Birthday</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group date" id="datetimepicker_birthday_js">
                                                            <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span> -->
                                                            <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>

                                                            <input type='text' class="form-control" ng-model="info.birthday" id="txtBirthDay" />

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtPhoneNumber">Phone</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                            <input placeholder="Phone number" class="form-control" required="true" type="text" ng-model="info.phoneNumber" id="txtPhoneNumber">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" or="txtAddress">Address</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                                            <input placeholder="State/Province/Region" class="form-control" required="true" type="text" ng-model="info.address" id="txtAddress">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtMail">Mail</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                            <input placeholder="Mail address" class="form-control" required="true" type="text" ng-model="info.mail" id="txtMail">
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </td>
                                    <td colspan="1">
                                        <form class="well form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtUsername">Username</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                            <input placeholder="Username" class="form-control" required="true" type="text" ng-model="info.username" id="txtUsername">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtPassword">Password</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                            <input ng-model="info.password" id="txtPassword" placeholder="Password" class="form-control" required="true" type="password">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtAccountNumber">Account Number</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                            <input placeholder="Account number" class="form-control" required="true" type="text" ng-model="info.accountNumber" id="txtAccountNumber">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtCardNumber">Card Number</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                                                            <input placeholder="Card number" class="form-control" required="true" type="text" ng-model="info.cardNumber" id="txtCardNumber">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtAccountBalance">Account Balance</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-money"></i></span>
                                                            <input placeholder="Account balance" class="form-control" required="true" type="text" ng-model="info.accountBalance" id="txtAccountBalance">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtRole">Role</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-secret"></i></span>
                                                            <input placeholder="Role" class="form-control" required="true" type="text" ng-model="info.role" id="txtRole">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="txtMemberSince">Member Since</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group date" id="datetimepicker_memberSince__js">
                                                            <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span> -->
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span>
                                                            </span>
                                                            <input type='text' class="form-control" ng-model="info.memberSince" id="txtMemberSince" />

                                                        </div>
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnEdit">Edit</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnUpdate" ng-hide="true">Update</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
            
        </script>
</body>

</html>